{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "svelteIndentScriptAndStyle": true,
  "svelteStrictMode": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteAllowShorthand": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-svelte"],
  "endOfLine": "lf"
}
