.header-apps {
	display: flex;
	column-gap: 1.3rem;

	&-title {
		font-weight: 400;
		font-size: 0.9rem;
		display: inline-block;
		background: #FCFFA6;
		color: #212121;
		padding: 0.2rem 0.5rem;
		border-radius: var(--radius);
	}

	&-list {
		column-gap: 1.2rem;
		display: flex;
		list-style: none;

		li {
			opacity: 0.9;
			transition: var(--transition);
			cursor: pointer;
			border-bottom: 2px solid transparent;

			&:hover {
				opacity: 1;
				border-bottom: 2px solid #fff;
			}
		}
	}
}