.header-status {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    list-style: none;
    column-gap: 0.8rem;
    align-items: center;

    & li {
      display: flex;
      column-gap: 0.3rem;
      align-items: baseline;
      align-content: center;
    }
  }

  &-volume {
    color: var(--blue);
  }

  &-bright {
    color: var(--purple);
  }

  &-wifi {
    color: var(--light_blue);
  }

  &-battery {
    color: var(--orange);
  }

  &-date {
    color: var(--red);
  }

  &-separator {
    opacity: 0.2;
    font-size: 0.4rem;
    display: flex;
    align-items: center;
  }
}
