.header-status {
	&-list {
		display: flex;
		list-style: none;
		column-gap: 1rem;
	}

	&-volume {
		color: var(--blue);
	}

	&-bright {
		color: var(--purple);
	}

	&-wifi {
		color: var(--light_blue);
	}

	&-battery {
		color: var(--orange);
	}

	&-date {
		color: var(--red);
	}
}