.desktop {
	background-image: url('https://images.unsplash.com/photo-1505699261378-c372af38134c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: inset 0px 0px 50px 10px rgba(10, 10, 10, 0.15);
	padding-top: 4rem;
}