.desktop {
	background-image: url('https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60');
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: inset 0px 0px 50px 10px rgba(10, 10, 10, 0.15);
	padding-top: 4rem;
}